<body (keydown)="eventkeydown($event)" (resize)="resizealert()" (keyup)="eventkeyup($event)">
    <nav>
        <ul>
            <div class="logo-container">
                <img src="assets\photos\AIO-BRAND-Pocari-Sweat-Logo" alt="pocari" class="logo_Pocari">
                <img src="assets\photos\(NEW)_LOGO_AIO_01.png" alt="Otsuka Logo" class="logo_AIO">
            </div>
            <!-- <li> <a href="#"><b>Home-Page</b></a></li> -->
            <li> <a href="#"><h2 class="back">PROSES PEMBUATAN POCARI SWEAT</h2></a></li>
        </ul>
      </nav>
      <div class="container"><br><br>
        
        <video controls id="videoPlayer" controlsList="nodownload" disablePictureInPicture playsinline>
            <source src="assets/videos/Proses Produksi Pocari Sweat.mp4" type="video/mp4">
            <!-- English subtitle track -->
            <track kind="subtitles" src="/subtitles/english_subtitle.vtt" srclang="en" label="English">
        </video>
        
        <div class="watermark">PT Amerta Indah Otsuka Property</div> <br>
        <!--<p class="note"><b>Peringatan : Screenshot Dilarang!!</b></p> <br>-->
        <!--<button onclick="goToVideo()">Watch Video</button>-->
      </div> 
      
      <!-- Modal -->
      <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="closemodal()">&times;</span>
            <h1 class="alert-text">Dilarang mengambil screenshot dari halaman ini!!</h1>
        </div>
      </div>
</body>

    
